<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  
  <connectionStrings>
    <add name="Connection1" connectionString="Data Source=localhost;Initial Catalog=DB;" providerName="System.Data.SqlClient" />
    <add name="Connection2" connectionString="Data Source=localhost;Initial Catalog=DB;" providerName="System.Data.SqlClient" />
    <add name="Connection3" connectionString="Data Source=localhost;Initial Catalog=DB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <MySection Name="MySection" SectionParam="20">
    <SubSection>
      <add Name="item1">
        <MyItem Param1="true" Param2="2" Param3="1"></MyItem>
      </add>
      <add Name="item2">
        <MyItem Param1="true" Param2="2" Param3="1"></MyItem>
      </add>
      <add Name="item3">
        <MyItem Param1="true" Param2="2" Param3="1"></MyItem>
      </add>
    </SubSection>
  </MySection>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"></assemblyBinding>
  </runtime>
</configuration>